{
  "bot": {
    "api": "882820668:AAH3Z2oLNIaD8_U8RJhwmrIdVwK-l5OKZBA"
  },
  "users": {
    "-1001233997449": {
      "id": "-1001233997449",
      "username": "My_Group",
      "capabilities": [
        "EDIT",
        "VIEW"
      ],
      "todos": {}
    },
    "109191781": {
      "id": "109191781",
      "username": "WMD_Lorenzo",
      "capabilities": [
        "EDIT",
        "VIEW"
      ],
      "todos": {}
    },
    "84872221": {
      "id": "84872221",
      "username": "WMD_Edoardo",
      "capabilities": [
        "EDIT",
        "VIEW",
        "ADMIN"
      ],
      "todos": {
        "0908994a": {
          "description": "Hello",
          "done": 1
        },
        "e272b850": {
          "description": "ciao mondo",
          "done": 1
        }
      }
    }
  }
}